<div class="contact-form">
  <h2 class="contact-form__title">Contact Us</h2>
  <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
     <div class="form-group">
       <label for="Email">Email</label>
       <input type="email" class="form-control" name="Email" formControlName="Email" placeholder="Enter email">
       <div *ngIf="FormData.controls['email'].errors!['pattern']">
        Please enter a valid email.
       </div>
     </div>
     <div class="form-group">
       <label for="Fullname">Full Name</label>
       <input type="text" class="form-control" name="Fullname" formControlName="Fullname" placeholder="Full Name">
     </div>
     <div class="form-group">
      <label for="Mobile">Mobile Number</label>
      <input type="text" class="form-control" name="Mobile" formControlName="Mobile" placeholder="Enter Mobile Number">
      <div *ngIf="FormData.controls['Mobile'].invalid && FormData.controls['Mobile'].touched">
         <div *ngIf="FormData.controls['Mobile'].errors!['required']">Mobile number is required.</div>
         <div *ngIf="FormData.controls['Mobile'].errors!['pattern']">Please enter a valid 10 digit mobile number.</div>
      </div>
     </div>
     
     <div class="form-group">
       <label for="Comment">Comment</label>
       <textarea class="form-control" formControlName="Comment" name="Comment" placeholder="Your message"></textarea>
     </div>
     <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Submit</button>
  </form>
 </div>
 