<div class="trek-details">
  <div class="content">
    <h2>{{ eventData.title }}</h2>
    <p><strong>Date:</strong> {{ eventData.date.start_date | date }}</p>
    <p><strong>Location:</strong> {{ eventData.location }}</p>
    <p>{{ eventData.details }}</p>
    <hr />
    <h3>Upcoming Batches</h3>
    <ul>
      <li *ngFor="let batch of eventData.upcoming_batches">
        {{ batch.date | date }} (Available slots: {{ batch.available_slots }},
        Booked slots: {{ batch.booked_slots }})
      </li>
    </ul>
    <p>
      You can book any upcoming event by directly clicking on 'Book Now' button.
    </p>
    <hr />
    <h3>Itinerary</h3>
    <ul>
      <li *ngFor="let day of eventData.itinerary">
        Day {{ day.day }}:
        <ul>
          <li *ngFor="let event of day.events">
            {{ event.time }} - {{ event.description }}
          </li>
        </ul>
      </li>
    </ul>
    
    <hr />
    <h3>Cost Include</h3>
    <ul>
      <li *ngFor="let inclusion of eventData.costInclude">
        {{ inclusion.item }}
      </li>
    </ul>
    <hr />
    <h3>Cost Exclude</h3>
    <ul>
      <li *ngFor="let exclusion of eventData.costExclude">
        {{ exclusion.item }}
      </li>
    </ul>
    <hr />
    <h3>Things to Carry</h3>
    <ul>
      <li *ngFor="let item of eventData.thingsToCarry">{{ item.item }}</li>
    </ul>
    <hr />
    <h3>FAQs</h3>
    <ul>
      <li *ngFor="let faq of eventData.faqs">
        <strong>{{ faq.question }}</strong> - {{ faq.answer }}
      </li>
    </ul>
  </div>
  <div class="sidebar">
    <div class="card">
      <div class="image">
        <a [href]="eventData.image.imageUrl">
          <img
            [src]="eventData.image.imageSrc"
            [alt]="eventData.title"
            [border]="0"
          />
        </a>
      </div>
      <div class="card-content">
        <div class="title">{{ eventData.title }}</div>
        <div class="price">₹ {{ eventData.price }}</div>
        <div class="date">{{ eventData.date.start_date | date }}</div>
        <div class="book-container">
          <button class="book-now" (click)="redirectToForm(eventData.registrationLink)">BOOK NOW</button>
        </div>
      </div>
    </div>
  </div>
</div>
